* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	font-size: 12px;
	line-height: 18px;
	font-family: arial, sans-serif;
	color: #383838;
	background: #3b3b3b url(images/body.png);
}

a {
	color: #0252aa;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: 0;
}

h2 {
	font-family: 'Georgia', Arial, serif;
	font-style: italic;
	font-size: 65px;
	line-height: 70px;
	color: #fff;
}

h3 {
	font-family: 'Georgia', Arial, serif;
	font-style: italic;
	font-size: 22px;
	line-height: 24px;
	color: #0182b5;
}

h4 {
	font-family: 'Georgia', Arial, serif;
	font-style: italic;
	font-size: 16px;
	line-height: 17px;
	color: #0871b3;
	font-weight: normal;
}

input,
textarea,
select {
	font-size: 10px;
	font-family: arial, sans-serif;
}

textarea {
	overflow: auto;
}

.cl {
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
	clear: both;
}

.notext {
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

.left,
.alignleft {
	float: left;
	display: inline;
}

.right,
.alignright {
	float: right;
	display: inline;
}

.shell {
	width: 884px;
	margin: 0 auto;
	background: url(images/shell.png) repeat-y 0 0;
	padding: 0 57px 0 57px;
	position: relative;
}

#header {
	padding-top: 30px;
}

#login-details {
	position: absolute;
	right: 60px;
	top: 16px;
	font-size: 12px;
	line-height: 16px;
	color: #707070;
}

.logo {
	font-weight: bold;
	font-size: 18px;
	font-family: serif;
}

#link {
	text-decoration: none;
	color: rgb(31, 29, 29);
}

#login-details #user {
	color: #0182b5;
	text-decoration: underline;
	font-weight: bold;
}

#login-details #user:hover {
	color: #000;
	text-decoration: underline;
}

#login-details .sum {
	color: #0182b5;
}

#login-details .sum:hover {
	text-decoration: none;
	color: #000;
}

#login-details p {
	float: left;
	display: inline;
}

#login-details .cart {
	float: left;
	display: inline;
	margin: 0 6px 0 12px;
}

#login-details .cart img {
	display: block;
}

#navigation {
	float: right;
	display: inline;
	font-family: 'Georgia', Arial, serif;
	font-size: 14px;
	line-height: 20px;
	padding: 24px 4px 23px 0;
}

#navigation ul li {
	list-style: none;
	padding-left: 33px;
	float: left;
	display: inline;
}

#navigation ul li a {
	color: #383838;
}

#navigation ul li a.active {
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}

#slider {
	background: url(images/slider-bg.png) repeat-x 0 0;
	height: 364px;
	position: relative;
	z-index: 10;
}

#slider .jcarousel-container {
	background: url(images/slider.png) no-repeat 0 0;
	height: 364px;
	width: 857px;
	height: 308px;
	padding: 36px 14px 20px 13px;
}

#slider .jcarousel-clip {
	width: 857px;
	height: 308px;
	overflow: hidden;
}

#slider .jcarousel-item {
	width: 857px;
	height: 308px;
}

#slider .jcarousel-prev,
#slider .jcarousel-next {
	position: absolute;
	top: 155px;
	width: 28px;
	height: 47px;
	background: url(images/slider-directions.png) no-repeat 0 0;
}

#slider .jcarousel-prev {
	left: -40px;
}

#slider .jcarousel-next {
	right: -40px;
	background-position: right 0;
	cursor: pointer;
}

#slider .nav {
	position: absolute;
	bottom: -7px;
	left: 459px;
	width: 80px;
	height: 14px;
	z-index: 100;
}

#slider .nav a {
	width: 14px;
	height: 14px;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
	background: url(images/slider-nav.png) no-repeat 0 0;
	margin: 0 3px 0 0;
	float: left;
	display: inline;
	margin: 0 3px;
}

#slider .nav a.active {
	background-position: right 0;
}

#slider .image {
	float: left;
	display: inline;
	width: 356px;
}

#slider .details {
	float: right;
	display: inline;
	width: 368px;
	padding: 4px 50px 0 0;
}

#slider .details h3 {
	padding-bottom: 15px;
	position: relative;
	width: 100%;
	margin: -7px 0 0;
}

#slider .details .title {
	font-size: 16px;
	line-height: 22px;
	font-family: 'Georgia', Arial, serif;
	padding-bottom: 14px;
}

#slider .details .description {
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 19px;
}

#slider .read-more-btn {
	display: block;
	width: 110px;
	height: 48px;
	line-height: 48px;
	background: url(images/slider-btn.png);
	padding: 0 10px 0 59px;
	color: #fff;
	font-size: 18px;
	font-family: 'Georgia', Arial, serif;
	font-style: italic;
	font-weight: bold;
	margin-left: 3px;
}

#slider .read-more-btn:hover {
	color: #0f173a;
	text-decoration: none;
}

#main {
	padding-top: 51px;
	padding-bottom: 41px;
	z-index: 1;
}

#sidebar {
	float: left;
	display: inline;
	width: 214px;
	padding: 6px 0;
}

#sidebar h4 {
	border-bottom: solid 4px #eaeaea;
	padding: 0 0 8px 1px;
}

#sidebar .categories {
	list-style: none;
}

#sidebar .categories ul {
	padding: 8px 0 29px;
	list-style: none;
	line-height: 24px;
	font-size: 12px;
	color: #929292;
}

#sidebar .categories ul li {
	border-bottom: solid 1px #d8d8d8;
	background: url(images/list-image.png) no-repeat 0 center;
	padding-left: 18px;
}

#sidebar .categories ul li a {
	color: #929292;
}

#content {
	float: right;
	display: inline;
	width: 635px;
}

#content h3 {
	padding: 0 0 7px 3px;
	border-bottom: solid 4px #eaeaea;
	margin-bottom: 12px;
}

.products ul {
	list-style: none;
	position: relative;
	width: 660px;
	margin-left: -7px;
	width: 660px;
}

.products ul li {
	float: left;
	display: inline;
	width: 150px;
	height: 343px;
	margin: 0 15px 14px 0;
}

.products ul li a.info {
	display: block;
	padding: 7px;
	width: 136px;
	height: 329px;
}

.products ul li a.info:hover {
	background: url(images/product-hover.png) no-repeat 0 0;
	text-decoration: none;
}

.products ul li a.info .holder {
	padding: 14px 9px;
	border: solid 1px #dcdcdc;
	display: block;
}

.products .product {
	width: 134px;
	position: relative;
}

.products img {
	padding: 0 7px 4px;
	width: 102px;
	height: 160px;
}

.product .buy-btn {
	position: absolute;
	bottom: 8px;
	left: 7px;
	background: url(images/buy-btn.png) repeat-x 0 0;
	width: 126px;
	height: 31px;
	color: #fff;
	font-size: 12px;
	line-height: 31px;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 10;
	padding-left: 10px;
	white-space: nowrap;
}

.product .buy-btn:hover {
	text-decoration: none;
}

.product .buy-btn .price {
	padding: 0 7px;
	background: url(images/price.png) repeat-x 0 0;
	font-size: 22px;
	line-height: 29px;
	position: absolute;
	top: 0;
	right: 0;
	height: 31px;
}

.product .buy-btn .price .low {
	font-size: 14px;
	vertical-align: baseline;
}

.product .buy-btn .price .high {
	font-size: 11px;
	line-height: 14px;
	vertical-align: super;
}

.product .book-name {
	font-size: 12px;
	line-height: 20px;
	color: #0182b5;
	font-family: 'Georgia', Arial, serif;
	display: block;
}

.product .author {
	font-size: 11px;
	line-height: 14px;
	color: #3d3d3d;
	font-family: 'Georgia', Arial, serif;
	padding: 0 0 9px 1px;
	display: block;
}

.product .description {
	font-size: 11px;
	line-height: 16px;
	color: #878787;
}

#best-sellers {
	padding-top: 18px;
	width: 100%;
	position: relative;
}

#best-sellers h3 {
	color: #404040;
	margin-bottom: 0;
}

#best-sellers .jcarousel-container {
	width: 560px;
	height: 210px;
	padding: 0 26px 0 53px;
	margin-top: 31px;
}

#best-sellers .jcarousel-clip {
	width: 560px;
	height: 210px;
	overflow: hidden;
}

#best-sellers .jcarousel-item {
	width: 125px;
	height: 210px;
	text-align: center;
	float: left;
	display: inline;
	margin-right: 15px;
}

#best-sellers .jcarousel-prev,
#best-sellers .jcarousel-next {
	width: 20px;
	height: 33px;
	background: url(images/best-sellers-directions.png) no-repeat;
	position: absolute;
	top: 57px;
	cursor: pointer;
}

#best-sellers .jcarousel-prev {
	background-position: 0 0;
	left: 2px;
}

#best-sellers .jcarousel-prev:hover {
	background-position: 0 bottom;
}

#best-sellers .jcarousel-next {
	background-position: right 0;
	right: 2px;
}

#best-sellers .jcarousel-next:hover {
	background-position: right bottom;
}

#best-sellers a {
	position: relative;
	display: block;
	height: 100%;
	width: 102px;
}

#best-sellers a:hover {
	text-decoration: none;
	opacity: 0.7;
}

#best-sellers a img {
	width: 102px;
	height: 156px;
	display: block;
	padding-bottom: 10px;
}

#best-sellers .price {
	position: absolute;
	top: 107px;
	right: -26px;
	width: 62px;
	height: 62px;
	background: url(images/best-price.png);
	font-size: 22px;
	font-weight: bold;
	line-height: 62px;
	text-align: center;
	color: #fff;
	display: block;
}

#best-sellers .price .low {
	font-size: 14px;
	vertical-align: baseline;
}

#best-sellers .price .high {
	font-size: 11px;
	line-height: 14px;
	vertical-align: super;
}

#best-sellers .product .author {
	color: #3d3d3d;
}

#footer {
	width: 998px;
	padding: 0;
	color: #c7e6f2;
	background: url(images/footer.png) repeat-y 0 0;
}

#footer .top {
	background: url(images/footer-top.png) no-repeat 0 0;
	padding: 0 43px 0 39px;
	width: 916px;
}

#footer .cnt {
	background: #44acd5 url(images/footer-bg.png) repeat-x 0 0;
	padding: 21px 44px 0 36px;
	width: 837px;
	overflow: hidden;
}

#footer h4 {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	border-bottom: solid 4px #57b4d9;
	margin-bottom: 3px;
	padding-bottom: 6px;
}

#footer .copy {
	color: #78b8d2;
	background: #3d9abf;
	font-size: 12px;
	line-height: 16px;
	padding: 7px 34px 8px;
	position: relative;
	width: 848px;
	margin: 20px 0 2px -36px;
}

#footer .copy a {
	color: #78b8d2;
}

#footer .col {
	float: left;
	display: inline;
}

.about {
	width: 393px;
	font-size: 12px;
	line-height: 18px;
}

.about p {
	padding-top: 4px;
}

.store {
	width: 160px;
	padding-left: 37px;
}

.store ul {
	padding-left: 2px;
	list-style: none;
	line-height: 28px;
	text-transform: uppercase;
}

.store ul li a {
	color: #c7e6f2;
}

#newsletter {
	width: 215px;
	padding-left: 31px;
	font-size: 11px;
	line-height: 20px;
}

#newsletter p {
	padding: 3px 0 8px;
}

#newsletter .field {
	width: 201px;
	padding: 2px 5px 3px;
	background: #73c1e0;
	border: solid 1px #a2d6ea;
	line-height: 13px;
	margin-bottom: 4px;
	color: #fff;
}

#newsletter .form-buttons {
	float: right;
	display: inline;
	text-align: right;
	padding-right: 2px;
}

#newsletter .submit-btn {
	margin-top: 4px;
	display: inline-block;
	font-size: 10px;
	line-height: 16px;
	height: 24px;
	background: url(images/submit-btn.png);
	padding: 0 8px 0 10px;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

#newsletter .submit-btn:hover {
	color: #015faa;
}

.search-container button:hover {
	background: #ccc;
	cursor: pointer;
}


/* nav */

.nav-menu,
.nav-menu ul,
.nav-menu li,
.nav-menu a {
	margin: 0;
	padding: 0;
	line-height: normal;
	list-style: none;
	display: block;
	position: relative;
}

.nav-menu ul {
	opacity: 0;
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 999;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.nav-menu li:hover>ul {
	left: 0;
	opacity: 1;
	z-index: 1000;
}

.nav-menu ul li:hover>ul {
	top: 0;
	left: 100%;
}

.nav-menu li {
	cursor: default;
	float: left;
	white-space: nowrap;
}

.nav-menu ul li {
	float: none;
}


/* sub width */

.nav-menu ul {
	min-width: 12em;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}


/* center */

.nav-center {
	float: right;
	right: 50%;
}

.nav-center>li {
	left: 50%;
}


/* root */

.nav-menu a {
	padding: 0 10px;
	color: #5BC0DE;
	font-weight: normal;
	font-size: 13px;
	line-height: 30px;
	text-decoration: none;
}


/* root: active */

.nav-menu>li>.nav-active {
	background: white;
}


/* root: hover/persistence */

.nav-menu a:hover,
.nav-menu a:focus,
.nav-menu li:hover a {
	background: #555;
	color: #FFF;
}


/* 2 */

.nav-menu li li a,
.nav-menu li:hover li a {
	padding: 8px 10px;
	background: #555;
	color: #FFF;
	font-size: 12px;
	line-height: normal;
}


/* 2: hover/persistence */

.nav-menu li:hover li a:hover,
.nav-menu li:hover li a:focus,
.nav-menu li:hover li:hover a {
	background: #444;
}


/* 3 */

.nav-menu li:hover li:hover li a {
	background: #444;
}


/* 3: hover/persistence */

.nav-menu li:hover li:hover li a:hover,
.nav-menu li:hover li:hover li a:focus,
.nav-menu li:hover li:hover li:hover a {
	background: #333;
}


/* 4 */

.nav-menu li:hover li:hover li:hover li a {
	background: #333;
}


/* 4: hover */

.nav-menu li:hover li:hover li:hover li a:hover,
.nav-menu li:hover li:hover li:hover li a:focus {
	background: #222;
}


/* vertical */

.nav-vertical {
	max-width: 220px;
}

.nav-vertical ul {
	top: 0;
	left: -9999px;
}

.nav-vertical li {
	width: 100%;
	float: none;
}

.nav-vertical li:hover>ul {
	left: 100%;
}

#col-1 {
	width: 660px;
	height: 150px;
	background: #e8e8e8;
}

#col-2 {
	width: 300px;
	height: 150px;
	background: #b1b1b1;
}

#detail {
	display: flex;
}

#detail-img {
	height: 300px;
	width: 200px;
}

#font-1 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 30px;
	color: red;
}

#detail-content {
	margin-left: 10px;
}

#detail-content-p {
	text-align: justify;
	margin-top: 10px;
}

#detail-content-b {
	margin-top: 20px;
	font-weight: bold;
	font-size: 15px;
}

.button {
	background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 1px;
}

.button:hover {
	cursor: pointer;
	background-color: rgb(59, 97, 3);
}

.button2 {
	background-color: #008CBA;
}


/* Blue */

.button3 {
	background-color: #f44336;
}


/* Red */

.button4 {
	background-color: #e7e7e7;
	color: black;
}


/* Gray */

.button5 {
	background-color: #555555;
}


/* Black */

#btn-a {
	text-decoration: none;
	color: white;
}

#phon {
	padding: 5px 15px;
}

#form-1 {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.col-11 {
	width: 25%;
}

.col-12 {
	width: 75%;
	float: right
}

div>input[type=text],
select {
	width: 100%;
	padding: 12px 20px;
  margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

div>input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

div>input[type=submit]:hover {
	background-color: #45a049;
}

#rental-img {
	height: 100px;
	width: 80px;
}

table,
td,
th {
	border: 1px solid #ddd;
	text-align: left;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 15px;
}

.product {
	width: 30%;
	margin: 30px;
}

.form-group {
 width: 30%;
	margin: 30px;
}

#myform {
	text-align: center;
	padding: 5px;
	margin: 2%;
}

.qty {
	width: 40px;
	height: 25px;
	text-align: center;
}

input.qtyplus {
	width: 25px;
	height: 25px;
}

input.qtyminus {
	width: 25px;
	height: 25px;
}

#items {
	text-align: center;
	font-weight: bold;
}

#items-1 {
	text-align: right;
	font-weight: bold;
	font-size: 15px
}
.panel-body {
 
}

input {
  line-height: normal;
}
.form-group {
	margin-bottom: 15px;
	margin-left:7px;
}
.form-control {
  display: block;
	width: 600px;
	
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.list-group-item {
  position: relative;
	display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.comment-space{
	margin-top: 5px;
}