/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/css/userhome/style.css
/public/js/userhome/functions.js
/public/js/userhome/png-fix.js
/public/js/userhome/script.js
/resources/js/*
/resources/css/*
