.no-book {
    color: red;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
}

.navbar-header {
    position: fixed;
    width: 100%;
    background-color: #32b65e!important;
    z-index: 999;
}

.adrop {
    background-color: #7386d5;
    color: white!important;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7386d5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #7386d5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.read {
    background-color: #3c98fa!important;
}

.read:hover {
    background-color: #0069d9!important;
}

.menu-body {
    overflow: auto;
    padding-right: 10px;
    padding-left: 10px;
    max-height: 300px;
}

.notification-item {
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ccc;
}

.notification-item:hover {
    background: rgb(182, 181, 181);
}

.modal {
    z-index: 1050!important;
}

.modal-body {
    overflow: auto;
    max-height: 500px;
}

.all-text {
    color: red;
}

.main {
    padding-top: 100px;
}

.modal-backdrop {
    z-index: 1000;
}